<div class="navbar navbar-default navbar-static-top">
  <div class="admin-navbar">
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a ng-if="admin.isAdmin()" ng-click="admin.loadTest = false;">Admin Develop Dashboard</a>
          <a ng-if="!admin.isAdmin()" >Coder Develop Dashboard</a>
        </li>
        <li>
          <a ng-if="admin.isAdmin()" ng-click="admin.loadTest = true;">Load-Test</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="admin" id="admin-container" ng-if="!admin.loadTest">

  <div class="margin-top-medium top-title">
    <h2>User information</h2>
    <md-button ng-if="admin.isAdmin()" class="md-raised" ng-click="admin.goAnalysis()">Analysis as Admin</md-button>
    <md-button class="md-raised" ng-click="admin.exportUsers()">Export all Users</md-button>
    <md-button ng-if="admin.isAdmin()" class="md-raised" ng-click="admin.exportUserPackages()">Export User Packages</md-button>
    <md-button ng-if="admin.isAdmin()" class="md-raised" ng-click="admin.exportCodes()">Export Codes</md-button>
    <label ng-if="admin.isAdmin()" for="survey" class="control-label">Enable survey</label>
    <input ng-if="admin.isAdmin()" class="" type="checkbox" ng-click="admin.setSurvey()" ng-model="admin.configSurvey" id="survey">
    <md-button class="mg-raised pull-right" ng-click="admin.logout()">Logout</md-button>

    <div class="title-container">
      <md-button class="md-raised first-button" ng-click="admin.displayAllUsers()">Show all users</md-button>
      <label for="username" class="control-label">User-name</label>
      <input type="text" class="" name="username" id="username" placeholder="" ng-model="admin.searchUser"
              required>
      <md-button class="md-raised" ng-click="admin.showHistory()">Show History</md-button>
      <md-button class="md-raised" ng-click="admin.showWorkflow()">Show Workflow</md-button>
      <md-button ng-if="admin.isAdmin()" class="md-raised" ng-click="admin.showBlocks()">Show Blocks</md-button>
      <md-button ng-if="admin.isAdmin()" class="md-raised" ng-click="admin.createUser()">Create User</md-button>
      <md-button ng-if="admin.plumbJson && admin.isAdmin()" class="md-raised" ng-click="admin.downloadWorkflow()">Download Workflow</md-button>


    </div>

  </div>

  <table class="table table-striped table-condensed admin-table" ng-if="admin.displayUsers">
    <col width="2%">
    <col width="15%">
    <col width="10%">
    <col width="5%">
    <col width="15%">
    <col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="18%">
    <thead>
    <tr>
      <th></th>
      <th ng-click="admin.sortTable('username')">Username</th>
      <th ng-if="admin.isAdmin()"  ng-click="admin.sortTable('surveyDone')">Survey Done?</th>
      <th ng-if="admin.isAdmin()"  ng-click="admin.sortTable('step')">Current Step</th>
      <th ng-if="admin.isAdmin()"  ng-click="admin.sortTable('lastLogin')">Last Login</th>
      <th ng-if="admin.isAdmin()"  ng-click="admin.sortTable('lastBlock')">Blocks since last login</th>
      <th ng-if="admin.isAdmin()"  ng-click="admin.sortTable('history')">Last Log entry</th>
      <th ng-if="admin.isAdmin()" ng-click="admin.sortTable('finished')">Finished?</th>
      <th ng-if="admin.isAdmin()" ></th>
      <th ng-if="!admin.isAdmin()" >Coding progress</th>
      <th ng-if="!admin.isAdmin()" >Single-User-Export</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in admin.users | orderBy:admin.sort.column:admin.sort.descending | filter : admin.searchUser" ng-if="admin.users && admin.blocks">
      <td>{{$index+1}}</td>
      <td class="cursorpointer" ng-click="admin.searchUser = user.username">{{user.username}}</td>
      <td ng-if="admin.isAdmin()" ><span class="label" ng-class="{'label-success' : user.surveyDone, 'label-danger' : !user.surveyDone}"
                ng-click="admin.isAdmin() && admin.toggleSurvey(user)">{{user.surveyDone}}</span></td>
      <td ng-if="admin.isAdmin()" >
        <input id="inputStep_{{user.username}}" type="text" ng-value="user.step" readonly
               ng-click="admin.isAdmin() && admin.toggleStepDisable($event)" ng-blur="admin.toggleStepDisable($event)">
      </td>
      <td ng-if="admin.isAdmin()"  class="text-small">{{user.lastLogin}}</td>
      <td ng-if="admin.isAdmin()"  ng-value="user.lastBlock">{{admin.getLastBlockProgress(user)}}</td>
      <td ng-if="admin.isAdmin()"  class="text-small">{{user.history}}</td>
      <td ng-if="admin.isAdmin()"  ><span class="label" ng-class="{'label-success' : user.finished, 'label-danger' : !user.finished}"
                ng-click="admin.isAdmin() && admin.toggleFinished(user)">{{user.finished}}</span></td>

      <td ng-if="!admin.isAdmin()">
        {{admin.getCodingProgress(user.username)}}
      </td>
      <td>
        <i ng-if="admin.isAdmin()" class="fa fa-undo" aria-hidden="true" ng-click="admin.resetUser(user)"></i>
        <i ng-if="admin.isAdmin()" class="fa fa-trash" aria-hidden="true" ng-click="admin.deleteUser(user)"></i>
        <i class="fa fa-download" aria-hidden="true" ng-click="admin.exportCsv(user)"></i>
      </td>
    </tr>
    </tbody>
  </table>


  <div ng-if="admin.noWorkflow">
    <h4>No workflow for "{{admin.searchUser}}" found.</h4>
  </div>
  <div ng-if="admin.userNotFound">
    <h4>User "{{admin.searchUser}}" not found.</h4>
  </div>
  <div ng-if="admin.historyNotFound">
    <h4>No history for user "{{admin.searchUser}}" found.</h4>
  </div>
  <div ng-if="admin.textCallback">
    <h4>{{admin.textCallback}}</h4>
  </div>
  <div class="text-small" ng-if="admin.historyCallback">
    <span ng-bind-html="admin.historyCallback"></span>
  </div>

  <div ng-if="admin.itemlist" ng-repeat="item in admin.itemlist" class="panel panel-default margin-top-medium" id="panel_{{$index}}">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse_{{$index}}">
      <span ng-if="item.renderedContent && item.content.length>0" class="pull-right fa fa-arrows-v"></span>
      <span ng-if="item.renderedContent" ng-click="admin.editBlock(item)"
            class="pull-right fa fa-pencil-square-o"></span>
      <h4 ng-if="item.renderedContent" class="panel-title">
        <a data-toggle="collapse" data-target="#collapse_{{$index}}"href="#collapse_{{$index}}">{{item.title}}</a>
      </h4>
    </div>

    <div ng-if="item.renderedContent" id="collapse_{{$index}}"
         class="panel-collapse collapse out fade">
      <div class="panel-body">
        <p ng-repeat="c in item.renderedContent track by $index">{{c}}</p>
      </div>
     </div>

  </div>

</div>

<div class="jsplumb-container" id="plumb-container">
  <js-plump class="jsplumb" ng-if="admin.plumbJson && !admin.loadTest" plumb-list="admin.plumbList" json="admin.plumbJson" instance="admin.plumbInstance" user="admin.searchUser"></js-plump>
</div>

<loadtest ng-if="admin.loadTest"></loadtest>


