.finish{

  //.panel-heading a:after {
  //  font-family: 'fontawesome';
  //  content: "\f07d";
  //  float: right;
  //  color: grey;
  //}

  .info-icon{
    height: 43px;
    margin-top: 20px;
  }
  .panel-heading {
    cursor: pointer;
    cursor: hand;
  }

  .content-line{
    margin: 0;
  }

  .panel-group .panel + .panel {
    margin-top: 15px;
  }

  .log-line {
    //margin
  }
  .log-line > span{
    color: grey;
    cursor: pointer;
  }

  .log-entry{
    background-color: #FF7272;
    padding: 5px 15px;
  }

  .log-entry > h6{
    margin: 0;
  }

  .log-entry-empty{

    border: 2px solid red;

    #attention{
      color: red;
      font-size: 20px;
      margin-left: -50px;
    }

  }

  .editBlock-btn{
    font-size: 12px;
    height: 30px;
    margin-top: 15px;
    margin-left: -5px;
    padding: 5px 8px 8px 8px;
  }

  .dnd-list{
    min-height: 20px;
  }
}
