<div class="container finish">
  <div class="row">
    <img ng-click="vm.showInfo()"  src="assets/images/info.png" id="myId" class="icon info-icon" />
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h3>Check whether all logs are assigned to the correct block and confirm by clicking 'Confirm Blocks'.</h3>
      <div class="panel-group" id="accordion">

        <div ng-if="vm.itemlist" ng-repeat="item in vm.itemlist" class="panel panel-default" id="panel_{{$index}}">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapse_{{$index}}"
               ng-class="{'log-entry' : !item.renderedContent, 'log-entry-empty' : item.renderedContent && item.content.length<1}">
            <span ng-if="item.renderedContent && item.content.length>0" class="pull-right fa fa-arrows-v"></span>
            <span id="attention" ng-if="item.renderedContent && item.content.length<1" class="pull-left fa  fa-exclamation-triangle"></span>
            <span ng-click="vm.editBlock(item)"
                  class="pull-right fa fa-pencil-square-o"></span>
            <h4 ng-if="item.renderedContent" class="panel-title">
              <a data-toggle="collapse" data-target="#collapse_{{$index}}"href="#collapse_{{$index}}">{{item.title}}</a>
            </h4>

            <div dnd-list="[item]"
            dnd-inserted="vm.dragDrop(index, item, {{item}}, true)">
            <p ng-if="!item.renderedContent" dnd-draggable="item"
               dnd-moved="vm.dragEndLog($index, item)"
               dnd-effect-allowed="move"
               dnd-selected="models.selected = c"
               ng-class="{'selected': models.selected === item}"
               style="margin: 0">
              {{item.title}}
            </p>
            </div>
          </div>

          <div ng-if="item.renderedContent" id="collapse_{{$index}}"
               class="panel-collapse collapse out fade">
            <div class="panel-body">

              <div class="dnd-list" dnd-list="item.renderedContent"
                   dnd-inserted="vm.dragDrop(index, item, {{item}})">
                <p ng-repeat="c in item.renderedContent track by $index"
                    dnd-draggable=""
                    dnd-moved="vm.dragEnd($index, item.renderedContent)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = c"
                    ng-class="{'selected': models.selected === item}"
                    class="log-line">
                    {{c}}<span ng-click="vm.removeLog(c, item)" class="pull-right  glyphicon glyphicon-remove"></span>
                </p>
              </div>

            </div>
          </div>
        </div>


      </div>
      <md-button class="md-raised" ng-disabled="!vm.checkAllItems()" ng-click="vm.confirmBlocks()">Confirm Blocks</md-button>
    </div>
  </div>


</div>

