<div class="modal fade custommodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-sm-10">
          <h4 class="modal-title">{{title}}</h4>
        </div>

      </div>
      <div class="modal-body">
        <p ng-repeat="t in text track by $index" data-ng-bind-html="trustAsHtml(t)"></p>
        <md-button ng-if="actionText1" type="button" ng-click="close()" class="md-raised">{{actionText1}}</md-button>
        <md-button ng-if="actionText2" type="button" ng-click="cancel()" class="md-raised">{{actionText2}}</md-button>
        <md-button ng-if="actionText3" type="button" ng-click="action3()" class="md-raised">{{actionText3}}</md-button>
        <md-button ng-if="actionText4" type="button" ng-click="action4()" class="md-raised">{{actionText4}}</md-button>
      </div>

    </div>
  </div>
</div>
