<div class="graph" ng-if="!vm.exported">

  <div class="title-container">
    <label class="title-label"><h3 class="margin-none">Reconstruct workflow</h3></label>
    <input type="button" ng-click="vm.finish()" value="Finish">
    <img ng-click="vm.showInfo()"  src="assets/images/info.png" style="height: 43px" id="myId" class="icon" />
  </div>

  <div class="plump-container" id="main">
      <!--<js-plump ng-if="vm.plumpList && vm.plumpList.length>0" load="false" plumplist="vm.plumpList" instance="vm.instance"></js-plump>-->
    <js-plump ng-if="vm.plumpList" json="vm.json" plumplist="vm.plumpList" instance="vm.instance" user="vm.user"></js-plump>

  </div>

</div>

<div class="graph" ng-if="vm.exported">
  <h2>Thank you!</h2>
</div>
