<div class="graph" ng-if="!vm.exported">

  <div class="title-container">
    <label class="title-label">
      <h3 class="margin-none">Please finalise the workflow you followed during data analysis.</h3>
    </label>
    <md-button class="md-raised" ng-click="vm.finish()">Finish</md-button>
    <img ng-click="vm.showInfo()"  src="assets/images/info.png" style="height: 43px" id="myId" class="icon" />
    <label class="title-label">
      <h5 class="margin-none">You can move blocks and draw lines between blocks by clicking on block edges to connect blocks such that the graph best reflects the workflow of your analysis. Also, you can edit every block by double clicking on it.</h5>
    </label>
  </div>

  <div class="plump-container" id="main">
      <!--<js-plump ng-if="vm.plumpList && vm.plumpList.length>0" load="false" plumplist="vm.plumpList" instance="vm.instance"></js-plump>-->
    <js-plump ng-if="vm.plumpList" json="vm.json" plumplist="vm.plumpList" instance="vm.instance" user="vm.user"></js-plump>

  </div>

</div>

<div class="graph" ng-if="vm.exported">
  <h2>Thank you for your participation!</h2>
</div>
