<navbar></navbar>

<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">Kick-start your next web app with Angular Fullstack</p>-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  <!--</div>-->
<!--</header>-->

<div class="container">
  <div class="row">
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->

    <div class="col-lg-8 col-md-8">
      <iframe style="width: 100%; height: 600px" src="{{main.rStudioEndpoint}}" name="rstudio" id="rstudio">
        <p>iframes are not supported by your browser.</p>
      </iframe>
    </div>
    <div style="height: 600px" class="col-lg-4 col-md-4">
      <h2>Live Logs</h2>
      <form>
        <div class="form-group">
          <label for="sel2">Select logs to form blocks (hold shift to select more than one):</label>
          <select style="width: 100%" id="sel2" ng-model="main.selection"
                  ng-options="item as item.log for item in main.loglist"
                  ng-multiple="true" multiple>

          </select>
          <!--<select ng-model="main.selection" multiple class="form-control" id="sel2">-->
            <!--<option ng-repeat="log in main.loglist">{{log.log}}</option>-->
          <!--</select>-->
        </div>
        <button ng-click="main.createBlock()">Create Block</button>
      </form>
    </div>

  </div>

  <div class="row">
    <a ng-click="main.readFile()">click meeeeee</a>
  </div>
</div>

<!--<footer></footer>-->
