<div class="modal fade blockmodal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <div class="col-sm-10">
          <h4 class="modal-title">{{title}}</h4>
        </div>


        <div class="text-right">
          <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

      </div>
      <div class="modal-body row">

        <div class="questions-edit col-sm-7">
          <span ng-if="!edit">Please answer the following questions</span>

          <form name="bmodal.form" class="form-horizontal" role="form">
            <div ng-if="step==1 || edit" class="form-group question-group">
              <label for="title" class="control-label">Indicate a title of your Block</label>
              <textarea type="text" class="form-control" name="title" id="title" placeholder="" ng-model="block.title" required></textarea>
              <div ng-messages="bmodal.form.title.$error" ng-show="bmodal.form.$submitted || bmodal.form.title.$touched">
                <div class="required" ng-message="required">Input required</div>
              </div>
            </div>

            <div ng-if="step==2 || edit" class="form-group question-group">
              <label for="goal" class="control-label">Shorty summarize <span style="font-style: italic">what</span> you did in this block?</label>
              <textarea type="text" class="form-control" name="goal" id="goal" placeholder="" ng-model="block.goal" required></textarea>
              <div ng-messages="bmodal.form.goal.$error" ng-show="bmodal.form.$submitted || bmodal.form.goal.$touched">
                <div class="required" ng-message="required">Input required</div>
              </div>
            </div>

            <div ng-if="step==3 || edit" class="form-group question-group">
              <div class="multilabel-title">What <span style="font-style: italic">different</span> options/alternatives did you consider for achieving what you did in this block?</div>
              <div ng-repeat="alternative in block.alternatives" ng-class="{'alternative-not-last' : !$last, 'alternative-not-first' : $last}">
                <div class="multilabel-container padding-top-medium">
                  <div class="sublabel" class="control-label">Alternative</div>
                  <textarea type="text" class="sublabel-input form-control" name="alternativeTitle{{$index}}" placeholder="" ng-model="block.alternatives[$index].title" required></textarea>
                </div>
                <div ng-messages="bmodal.form['alternativeTitle'+$index].$error" ng-show="bmodal.form.$submitted || bmodal.form['alternativeTitle'+$index].$touched">
                  <div class="inline-error required" ng-message="required">Input required</div>
                </div>
                <div class="multilabel-container padding-top-medium">
                  <div class="sublabel" class="control-label">Pro</div>
                  <textarea type="text" class="sublabel-input form-control" name="alternativePro{{$index}}" placeholder="" ng-model="block.alternatives[$index].pro"></textarea>
                </div>
                <div ng-messages="bmodal.form['alternativePro'+$index].$error" ng-show="bmodal.form.$submitted || bmodal.form['alternativePro'+$index].$touched">
                  <div class="inline-error required" ng-message="required">Input required</div>
                </div>
                <div class="multilabel-container padding-top-medium">
                  <div class="sublabel" class="control-label">Contra</div>
                  <textarea type="text" class="sublabel-input form-control" name="alternativeContra{{$index}}" placeholder="" ng-model="block.alternatives[$index].contra"></textarea>
                </div>
                <div ng-messages="bmodal.form['alternativeContra'+$index].$error" ng-show="bmodal.form.$submitted || bmodal.form['alternativeContra'+$index].$touched">
                  <div class="inline-error required" ng-message="required">Input required</div>
                </div>
              </div>
              <!--<button ng-click="addAlternative()">Add another alternative</button>-->
              <md-button type="button" ng-click="addAlternative()" class="margin-top-large md-raised">Add another alternative</md-button>
              <md-button ng-if="block.alternatives.length > 1" type="button" ng-click="spliceAlternative()" class="margin-top-large md-raised">Remove last alternative</md-button>

            </div>

            <div ng-if="step==4 || edit" class="form-group question-group">
              <label for="criteria" class="control-label"><span style="font-style: italic">Why</span> did you choose your option?</label>
              <textarea type="text" class="form-control" name="criteria" id="criteria" placeholder="" ng-model="block.criteria" required></textarea>
              <div ng-messages="bmodal.form.criteria.$error" ng-show="bmodal.form.$submitted || bmodal.form.criteria.$touched">
                <div class="required" ng-message="required">Input required</div>
              </div>
            </div>

            <div ng-if="step==5 || edit" class="form-group question-group">
              <label for="preconditions" class="control-label">What requirements need to be fulfilled to run this block?</label>
              <textarea type="text" class="form-control" name="preconditions" id="preconditions" placeholder="" ng-model="block.preconditions" required></textarea>
              <div ng-messages="bmodal.form.preconditions.$error" ng-show="bmodal.form.$submitted || bmodal.form.preconditions.$touched">
                <div class="required" ng-message="required">Input required</div>
              </div>
            </div>



            <div ng-class="{'button-group' : edit}">
              <md-button ng-if="step<5 && !edit"  type="button" ng-click="increaseStep(bmodal.form)" class="md-raised pull-right">Next</md-button>
              <md-button ng-if="step>1 && !edit"  type="button" ng-click="decreaseStep()" class="md-raised" id="back-btn">Back</md-button>
              <md-button ng-if="step==5 || edit"  type="button" ng-click="close(bmodal.form)" class="md-raised pull-right">Save</md-button>
              <md-button ng-if="edit" type="button" ng-click="showDiff()" class="md-raised">Show Diff</md-button>
              <md-button ng-if="edit && edit !== 'jsplumb' " type="button" ng-click="deleteBlock()" class="md-raised">Delete Block</md-button>
              <md-button ng-if="edit && edit !== 'jsplumb' && edit!== 'finish' && edit !== 'admin'" type="button" ng-click="loadFiles()" class="md-raised">Load Files</md-button>
              <md-button type="button" ng-click="cancel()" class="md-raised">Cancel</md-button>
            </div>

          </form>
        </div>

        <div class="col-sm-5">
          <p ng-repeat="c in renderedContent" class="content-line">{{c}}</p>
        </div>



      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>-->
      <!--<button type="button" ng-click="cancel()" class="btn">Cancel</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
